.Rproj.user
.Rhistory
.RData
.Ruserdata
data/drivers.csv
*.rdb
*.rdx
*.RData
slides/un_C_cache/html/__packages
slides/un_C_cache/revealjs/__packages
slides/un_C_cache/.DS_Store
data/.DS_Store
slides/.DS_Store
slides/un_C_files/figure-revealjs/.DS_Store
slides/.DS_Store
slides/un_A_files/.DS_Store
slides/un_B_files/.DS_Store
slides/un_C_files/.DS_Store
slides/.DS_Store
slides/un_B_files/.DS_Store
code/.DS_Store
slides/.DS_Store
slides/un_B_files/.DS_Store
slides/un_D_files/.DS_Store
slides/.DS_Store
slides/un_B_files/.DS_Store
data/drivers2.csv
slides/un_A_files/libs/.DS_Store
slides/un_B_files/.DS_Store
slides/un_B_files/libs/.DS_Store
slides/un_intro_files/.DS_Store
slides/un_intro_files/libs/.DS_Store
